autostart/
Electron/
GIMP/
Code - OSS/
discord/
dconf/
GitHub Desktop/
gthumb/
gtk-2.0/
htop/
JetBrains/
pulse/
Thunar/
systemd/
wallpaper*
xfce4/
neofetch/
nitrogen/
komorebi/
mimeapps.list
cef_user_data/
wxllpulse/